<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../../partials/head.ejs") %>
</head>
<body>
    <header><%- include("../../../partials/_nav.ejs") %></header>
    <title>種類</title>
</head>
<body>
<div class="container">
    <h1 class="mb-4">管理種類</h1>
    <a href="/admin/A_product/new_category" class="btn btn-success">創建種類</a>

    <% category.forEach(Categories => { %>
    <div class="card me-4">
        <div class="card-body">
            <h4 class="card-title">種類：<%= Categories.title %></h4>
        </div>
        <form action="/admin/A_product/category/<%= Categories._id %>?_method=DELETE" method="POST" class="d-lg-inline">
            <button type="submit" class="btn btn-danger">刪除</button>
        </form>
        <div>
            <a href="/admin/A_product/category/<%= Categories._id %>" class="btn btn-info">修改</a>
        </div>
    </div>
    <% }) %>
    <a href="/admin/A_store">返回上一層</a>
    <footer><%- include("../../../partials/footer.ejs") %></footer>
</body>
</html>