<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
</head>
<body>
    <header><%- include("../partials/_nav.ejs") %></header>
    <main>
<div class="container">
    <h2 class="mb-4">博客文章</h2>
    <% article.forEach(articles => { %>
        <div class="card mt-4">
            <div calss="card-body">
                <h4 calss="card-title"><%= articles.title %></h4>
                <div class="card-text mb-2">文章描述：<%= articles.description %></div>
                <div class="card-subtitle text-muted mb-2">
                    修改時間：<%= articles.createdAt.toLocaleDateString() %>
                </div>
                <a href="blog/<%= articles.id %>" class="btn btn-primary">閱讀全文</a>
            </div>
        </div>
    <% }) %>
</div>
    <a href="/index">返回上一層</a>
</main> 
<footer><%- include("../partials/footer.ejs") %></footer>
</body>
</html>