<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../../partials/head.ejs") %>
</head>
<body>
    <header><%- include("../../../partials/_nav.ejs") %></header>
    <h1 class="mb-4">管理商品</h1>
    <% product.forEach(Products => { %>
        <div class="card me-4">
            <div class="card-body">
                <h4 class="card-title">寵物品種：<%= Products.category %></h4>
                <h4 class="card-title">商品名：<%= Products.title %></h4>
                <h4 class="card-title">價錢：<%= Products.price %></h4>
                <h4 class="card-title">最佳食用期：<%= Products.date %></h4>
                <h4 class="card-title">庫存：<%= Products.stock %></h4>
                <h4 class="card-title">適用體型：<%= Products.size %></h4>
            </div>
            <form action="/admin/A_product/product/<%= Products._id %>?_method=DELETE" method="POST" class="d-lg-inline">
                <button type="submit" class="btn btn-danger">刪除</button>
            </form>
            <div>
                <a href="/admin/A_product/product/<%= Products._id %>" class="btn btn-info">修改</a>
            </div>
        </div>
        <% }) %>
        <a href="/admin/A_store">返回上一層</a>
        <footer><%- include("../../../partials/footer.ejs") %></footer>
    </body>
    </html>
    